.container {
  background: black;
  height: 100vh; 
  width: 100vw;
  color: white;
}

.giveFeedbackSection {
  display: none;
}

.showFeedbackDisclaimer {
  display: none;
}

.storyTable {
  padding: 15%; 
  padding-top: 7%;
}

.returnStory, .submitFeedback, .option1, .option2, .option3, .option4, .option5, .option6, .option7, .option8, .option9, .option10, .option11, .option12, .option13, .option14  {
  padding: 10px;
  border: white solid 1px;
  margin: 10px 20% 0 20%;
  cursor: pointer;
}

.reportProblem {
  background: black;
  color: white;
  border-bottom: white 1px solid;
  padding: 5px;
  cursor: pointer;
}

.option1 {
  margin-top: 20px;
}